{:kotoba.app/id "cloud.itonami.isic-2392", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreib4wu4tez77pt7ky5szxmhf5bare6fygl7lc7uwr4ltgel5jokhfi", :kotoba.app/embed-url "ipfs://bafkreib4wu4tez77pt7ky5szxmhf5bare6fygl7lc7uwr4ltgel5jokhfi", :published {:archive "https://kotobase.net/ipfs/bafkreib4wu4tez77pt7ky5szxmhf5bare6fygl7lc7uwr4ltgel5jokhfi", :size 73314, :put-status 201, :get-status 200, :at "2026-08-15T13:52:58.466Z"}}
